body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightgrey;
  font-family: "Raleway", sans-serif;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.algo-container {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background: rgb(255, 255, 255, 0.4);
  border-radius: 10px;
}

/* .side-nav {
  background-color: lightcyan;
  margin: 15px;
  padding: 15px;
  height: 200px;
} */
