body {

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: lightgrey;
  
}


main {
  flex: 1 0 auto;
}


.side-nav {
  background-color: lightcyan;
  margin: 15px;
  padding: 15px;
  height: 200px;
}
