.side-nav {
  background-image: linear-gradient(lightcyan, whitesmoke);
  border-radius: 10px;
  margin: 15px;
  height: 330px;
}

#welcome-menu {
  text-align: center;
  padding: 10px;
}

.menu-item {
  padding: 10px;
  vertical-align: middle;
}

.material-icons {
  padding: 10px;
}

.nav-link {
  color: black;
}
