.snippet-box {
  height: 250px;
  background: whitesmoke;
  border-radius: 5px;
}

.form-container {
  background-color: whitesmoke;
  height: 525px;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
}

/* .form-row {
  margin: 0;
} */

#custom-snippet {
  height: 200px;
  background-color: white;
  border-radius: 10px;
  color: black;
}
