.collapsible {
  margin: 5px;
  border-radius: 10px;
}

.collapsible-header {
  border-radius: 10px;
  background-color: lightcyan;
}

.collapsible-body {
  border-radius: 5px 5px 10px 10px;
  background-image: linear-gradient(lightcyan, whitesmoke);
}

.library-area {
  margin-top: 15px;
}

.library-snippet {
  height: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
}

button {
  margin: 10px;
}

.answer-title {
  background-color: lightsalmon;
}

.answer-body {
  background-image: linear-gradient(lightsalmon, whitesmoke);
}
.answer-box {
  border-radius: 10px;
}
