.collapsible {
  margin: 5px;
  border-radius: 10px;
}

.title-header {
  border-radius: 10px;
  background-image: linear-gradient(to right, white, rgb(44, 141, 204));
}

.collapsible-body {
  border-radius: 5px 5px 10px 10px;
  background-image: linear-gradient(rgb(44, 141, 204), whitesmoke);
  padding: 30px;
}

.description-container {
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
}

.algo-description {
  font-size: 20px;
}

.library-area {
  margin-top: 15px;
}

#library-snippet {
  height: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.answer-title {
  background-color: rgb(238, 90, 31);
  border-radius: 10px;
  color: white;
}

.answer-body {
  background-image: linear-gradient(rgb(238, 90, 31), whitesmoke);
  color: white;
  font-size: 20px;
}
.answer-box {
  border-radius: 10px;
}
