/* nav {
  background-color: grey;
} */

/* .nav-wrapper {
  background-color: grey;
} */

.nav-wrapper {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar {
  background-color: rgba(152, 191, 234, 0.2);
}

.mainHeader {
  background-color: rgba(152, 191, 234, 0.2);
}
